main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'chat alerts';
}

section.chat {
  grid-area: chat;
}

section.alert {
  grid-area: alert;
}

.tab-row {
  padding-top: 20px;
}

.tab-btn.active {
  background: blue;
  border-color: blue;
  color: white;
}
